{{- if and .Values.vaultwarden.admin.enabled .Values.vaultwarden.admin.token (not .Values.vaultwarden.admin.existingSecret) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "vaultwarden.fullname" . }}-admin
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "vaultwarden.labels" . | nindent 4 }}
type: Opaque
stringData:
  admin-token: {{ .Values.vaultwarden.admin.token | quote }}
{{- end }}
{{- if and .Values.vaultwarden.smtp.host .Values.vaultwarden.smtp.username (not .Values.vaultwarden.smtp.existingSecret) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "vaultwarden.fullname" . }}-smtp
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "vaultwarden.labels" . | nindent 4 }}
type: Opaque
stringData:
  smtp-username: {{ .Values.vaultwarden.smtp.username | quote }}
  smtp-password: {{ .Values.vaultwarden.smtp.password | quote }}
{{- end }}
{{- if and .Values.vaultwarden.sso.enabled .Values.vaultwarden.sso.clientId (not .Values.vaultwarden.sso.existingSecret) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "vaultwarden.fullname" . }}-sso
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "vaultwarden.labels" . | nindent 4 }}
type: Opaque
stringData:
  sso-client-id: {{ .Values.vaultwarden.sso.clientId | quote }}
  sso-client-secret: {{ .Values.vaultwarden.sso.clientSecret | quote }}
{{- end }}
{{- if and .Values.vaultwarden.push.enabled .Values.vaultwarden.push.installationId (not .Values.vaultwarden.push.existingSecret) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "vaultwarden.fullname" . }}-push
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "vaultwarden.labels" . | nindent 4 }}
type: Opaque
stringData:
  push-installation-id: {{ .Values.vaultwarden.push.installationId | quote }}
  push-installation-key: {{ .Values.vaultwarden.push.installationKey | quote }}
{{- end }}
{{- if and .Values.vaultwarden.yubico.enabled .Values.vaultwarden.yubico.clientId (not .Values.vaultwarden.yubico.existingSecret) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "vaultwarden.fullname" . }}-yubico
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "vaultwarden.labels" . | nindent 4 }}
type: Opaque
stringData:
  yubico-client-id: {{ .Values.vaultwarden.yubico.clientId | quote }}
  yubico-secret-key: {{ .Values.vaultwarden.yubico.secretKey | quote }}
{{- end }}
{{- if and (ne .Values.database.type "sqlite") .Values.database.url (not .Values.database.existingSecret) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "vaultwarden.fullname" . }}-database
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "vaultwarden.labels" . | nindent 4 }}
type: Opaque
stringData:
  database-url: {{ .Values.database.url | quote }}
{{- end }}
