<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bitwarden_rs Admin Panel</title>

    <link rel="stylesheet" href="bwrs_static/bootstrap.css" />
    <script src="bwrs_static/bootstrap-native-v4.js"></script>
    <script src="bwrs_static/md5.js"></script>
    <script src="bwrs_static/identicon.js"></script>
    <style>
        body {
            padding-top: 70px;
        }

        @media (max-width:768px) {
            body {
                padding-top: 190px;
            }

            .container {
                max-width: 100%;
            }
        }

        img {
            width: 48px;
            height: 48px;
        }
    </style>
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top shadow">
        <a class="navbar-brand" href="#">Bitwarden_rs</a>
        <div class="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="admin">Admin Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=".">Vault</a>
                </li>
            </ul>
        </div>

        <ul class="navbar-nav">
            {{#if version}}
            <li class="nav-item">
                <span class="navbar-text mr-2">Version: {{version}}</span>
            </li>
            {{/if}}

            {{#if logged_in}}
            <li class="nav-item">
                <a class="nav-link" href="admin/logout">Log Out</a>
            </li>
            {{/if}}
        </ul>
    </nav>

    {{> (page_content) }}
</body>

</html>
