<main class="container-xl">
    {{#if error}}
    <div class="align-items-center p-3 mb-3 text-opacity-50 text-dark bg-warning rounded shadow">
        <div>
            <h6 class="mb-0 text-dark">{{error}}</h6>
        </div>
    </div>
    {{/if}}

    <div class="align-items-center p-3 mb-3 text-opacity-75 text-light bg-danger rounded shadow">
        <div>
            <h6 class="mb-0 text-light">Authentication key needed to continue</h6>
            <small>Please provide it below:</small>

            <form class="form-inline" method="post" action="{{urlpath}}/admin">
                <input type="password" autocomplete="password" class="form-control w-50 mr-2" name="token" placeholder="Enter admin token" autofocus="autofocus">
                {{#if redirect}}
                <input type="hidden" id="redirect" name="redirect" value="/{{redirect}}">
                {{/if}}
                <button type="submit" class="btn btn-primary mt-2">Enter</button>
            </form>
        </div>
    </div>
</main>
