<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Z1 Locker Admin - Login</title>
    <link
      rel="icon"
      type="image/png"
      href="{{urlpath}}/vw_static/vaultwarden-favicon.png"
    />
    <link rel="stylesheet" href="{{urlpath}}/vw_static/bootstrap.css" />
    <link rel="stylesheet" href="{{urlpath}}/vw_static/admin.css" />
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
          <form class="form-signin" action="{{urlpath}}/admin" method="post">
            <h1 class="text-center mb-4">Z1 Locker Admin</h1>
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="token"
                name="token"
                placeholder="Admin Token"
                required
                autofocus
              />
              <label for="token">Admin Token</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>