<main class="container-xl">
    {{#if error}}
    <div class="align-items-center p-3 mb-3 text-white-50 bg-warning rounded shadow">
        <div>
            <h6 class="mb-0 text-white">{{error}}</h6>
        </div>
    </div>
    {{/if}}

    <div class="align-items-center p-3 mb-3 text-white-50 bg-danger rounded shadow">
        <div>
            <h6 class="mb-0 text-white">Authentication key needed to continue</h6>
            <small>Please provide it below:</small>

            <form class="form-inline" method="post">
                <input type="password" class="form-control w-50 mr-2" name="token" placeholder="Enter admin token">
                <button type="submit" class="btn btn-primary">Enter</button>
            </form>
        </div>
    </div>
</main>