<section class="content-header">
    <h1>
        Tools
        <small>helpful utilities</small>
    </h1>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Import/Export</h3>
        </div>
        <div class="box-body">
            <p>
                Quickly import your logins and other data from a previous export or from another
                password management application.
            </p>
            <p>You can also export all of your vault data in <code>.csv</code> format.</p>
        </div>
        <div class="box-footer">
            <button class="btn btn-default btn-flat" type="button" ng-click="import()">Import Data</button>
            <button class="btn btn-default btn-flat" type="button" ng-click="export()">Export Data</button>
        </div>
    </div>
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Password Generator</h3>
        </div>
        <div class="box-body">
            Password generator is currently available in all other client applications. Coming soon to the web vault!
        </div>
    </div>
</section>
