<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="exportModelLabel"><i class="fa fa-cloud-download"></i> Export</h4>
</div>
<form name="exportForm" ng-submit="exportForm.$valid && export(model)" api-form="exportPromise" ng-show="!startedExport">
    <div class="modal-body">
        <p>Enter your master password to continue.</p>
        <div class="callout callout-warning">
            <h4><i class="fa fa-warning"></i> Warning</h4>
            This export contains your <u>unencrypted</u> data in <code>.csv</code> format. You should not store or send the file
            over unsecure channels (such as email). Delete it immediately after you are done using it.
        </div>
        <div class="callout callout-danger validation-errors" ng-show="exportForm.$errors">
            <h4>Errors have occurred</h4>
            <ul>
                <li ng-repeat="e in exportForm.$errors">{{e}}</li>
            </ul>
        </div>
        <div class="form-group" show-errors>
            <label for="masterPassword">Master Password</label>
            <input type="password" id="masterPassword" name="MasterPasswordHash" ng-model="model.masterPassword"
                   class="form-control" master-password required api-field ng-model-options="{ 'updateOn': 'blur'}" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat">Export</button>
        <button type="button" class="btn btn-default btn-flat" ng-click="close()">Close</button>
    </div>
</form>
<div class="modal-body text-center" ng-show="startedExport">
    <p><i class="fa fa-cog fa-spin fa-3x"></i></p>
    <p>Please wait. We are now exporting all of your data to a <code>.csv</code> file.</p>
</div>
