<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        <i class="fa fa-users"></i>
        {{add ? 'Add Seats' : 'Remove Seats'}}
    </h4>
</div>
<form name="form" ng-submit="form.$valid && submit()" api-form="submitPromise" autocomplete="off">
    <div class="modal-body">
        <div class="callout callout-default" ng-show="add">
            <h4><i class="fa fa-dollar"></i> Note About Charges</h4>
            <p>
                Adding seats to your plan will result in adjustments to your billing totals and immediately charge your
                payment method on file. The first charge will be prorated for the remainder of the current billing cycle.
            </p>
        </div>
        <div class="callout callout-default" ng-show="!add">
            <h4><i class="fa fa-dollar"></i> Note About Charges</h4>
            <p>
                Removing seats will result in adjustments to your billing totals that will be prorated as credits
                to your next billing charge.
            </p>
        </div>
        <div class="callout callout-danger validation-errors" ng-show="form.$errors">
            <h4>Errors have occurred</h4>
            <ul>
                <li ng-repeat="e in form.$errors">{{e}}</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="seats">{{add ? 'Seats To Add' : 'Seats To Remove'}}</label>
                    <input type="number" id="seats" name="SeatAdjustment" ng-model="seatAdjustment" class="form-control"
                           required min="0" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat" ng-disabled="form.$loading">
            <i class="fa fa-refresh fa-spin loading-icon" ng-show="form.$loading"></i>Submit
        </button>
        <button type="button" class="btn btn-default btn-flat" ng-click="close()">Close</button>
    </div>
</form>
