<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        <i class="fa fa-check-square-o"></i>
        Verify Bank Account
    </h4>
</div>
<form name="form" ng-submit="form.$valid && submit()" api-form="submitPromise" autocomplete="off">
    <div class="modal-body">
        <p>
            Enter the two micro-deposit amounts from your bank account. Both amounts will be less than $1.00 each.
            For example, if we deposited $0.32 and $0.45 you would enter the values "32" and "45".
        </p>
        <div class="callout callout-danger validation-errors" ng-show="form.$errors">
            <h4>Errors have occurred</h4>
            <ul>
                <li ng-repeat="e in form.$errors">{{e}}</li>
            </ul>
        </div>
        <div class="form-group">
            <label for="amount1">Amount 1</label>
            <div class="input-group">
                <span class="input-group-addon">$ 0.</span>
                <input type="number" id="amount1" name="Amount1" ng-model="amount1" class="form-control"
                       required min="1" max="99" placeholder="xx" />
            </div>
        </div>
        <div class="form-group">
            <label for="amount2">Amount 2</label>
            <div class="input-group">
                <span class="input-group-addon">$ 0.</span>
                <input type="number" id="amount2" name="Amount2" ng-model="amount2" class="form-control"
                       required min="1" max="99" placeholder="xx" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat" ng-disabled="form.$loading">
            <i class="fa fa-refresh fa-spin loading-icon" ng-show="form.$loading"></i>Submit
        </button>
        <button type="button" class="btn btn-default btn-flat" ng-click="close()">Close</button>
    </div>
</form>
