<section class="content-header">
    <h1>
        Dashboard
        <small>{{orgProfile.name}}</small>
    </h1>
</section>
<section class="content">
    <div class="callout callout-warning" ng-if="!orgProfile.enabled">
        <h4><i class="fa fa-warning"></i> Organization Disabled</h4>
        <p>This organization is currently disabled. Users will not see your shared logins or collections.</p>
        <p ng-if="!selfHosted">Contact us if you would like to reinstate this organization.</p>
        <p ng-if="selfHosted">Update your license to reinstate this organization.</p>
        <a ng-if="selfHosted" class="btn btn-default btn-flat" href="#" stop-click ng-click="goBilling()">
            Billing &amp; Licensing
        </a>
        <a class="btn btn-default btn-flat" href="https://bitwarden.com/contact/" target="_blank">
            Contact Us
        </a>
    </div>
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Let's Get Started!</h3>
        </div>
        <div class="box-body">
            <p>Dashboard features are coming soon. Get started by inviting users and creating your collections.</p>
            <a class="btn btn-default btn-flat" ui-sref="backend.org.people({orgId: orgProfile.id})">
                Invite Users
            </a>
            <a class="btn btn-default btn-flat" ui-sref="backend.org.collections({orgId: orgProfile.id})">
                Manage Collections
            </a>
        </div>
    </div>
</section>
