Změna tvého emailu
<!---------------->
<html>
<p>Pro dokončení změny tvého emailu zadej následující kód do svého webového sejfu: <b>{{token}}</b></p>
<p>Pokud jsi svůj email nepřeješ změnit, klidně tento email ignoruj.</p>
</html>
