Smazání tvého účtu
<!---------------->
<html>
<p>
klikni na odkaz níže pro smazání svého účtu.
<br>
<br>
<a href="{{url}}/#/verify-recover-delete?userId={{user_id}}&token={{token}}&email={{email}}">
Smazat účet</a>
</p>
<p>Pokud jsi svůj účet nepřeješ zrušit, klidně tento email ignoruj.</p>
</html>
