Pozvání do Sejfu {{org_name}} přijato
<!---------------->
<html>
<p>
    Tvá pozvánka do chapteru <b>{{org_name}}</b> byla přijata.
    Příště až se <a href="{{url}}">přihlásíš</a> do svého sejfu, tak tam uvidíš nový chapter.
</p>
</html>
