Invitation to {{{org_name}}} confirmed
<!---------------->
<html>
<p>
    Your invitation to join <b>{{org_name}}</b> was confirmed.
    It will now appear under the Organizations the next time you <a href="{{url}}/">log in</a> to the web vault.
</p>
</html>
