Pozvání přijato
<!---------------->
<html>
<p>
    Tvá pozvánka pro <b>{{email}}</b> do chapteru <b>{{org_name}}</b> byla přijata.
    Prosím <a href="{{url}}">přihlaš se</a> do GUG Sejfu a potvrď uživatele v administraci chapteru.
</p>
</html>
