Invitation to {{{org_name}}} accepted
<!---------------->
<html>
<p>
    Your invitation for <b>{{email}}</b> to join <b>{{org_name}}</b> was accepted.
    Please <a href="{{url}}/">log in</a> to the bitwarden_rs server and confirm them from the organization management page.
</p>
</html>
