您的主密码提示
<!---------------->
您（或某人）最近请求了您的主密码提示。不幸的是，您的账户没有设置主密码提示。

如果您无法记住您的主密码，则无法恢复您的数据。重新获得账户访问权限的唯一方法是删除账户（<a
    href="{{url}}/#/recover-delete">{{url}}/#/recover-delete</a>），然后重新注册并重新开始。与您的账户关联的所有数据都将被删除。

如果您没有请求主密码提示，可以安全地忽略此邮件。
{{> email/email_footer_text }}