Nápověda k tvému Master heslu
<!---------------->
Ty (nebo někdo jiný) si zrovna vyžádal/a nápovědu k Master heslu.

Tvá nápověda je: "{{hint}}"
Přihlaš se: <a href="{{url}}">Vstup do Sejfu</a>

Pokud si i přesto nemůžeš vzpomenout na své Master heslo, žádná jiná možnost jak získat tvá data není. Jediná možnost, jak získat zpět přístup k tvému účtu je <a href="{{url}}/#/recover-delete">smazat účet</a> abys ses mohl/a opět registrovat a začít odznovu. Všechna data z tvého účtu budou smazána.

Pokud sis nevyžádal/a tuto nápovědu, klidně můžeš tento email ignorovat.