来自 {{{grantor_name}}} 的紧急访问邀请
<!---------------->
您已被邀请成为 {{grantor_name}} 的紧急联系人。要接受此邀请，请点击以下链接：

<a href="{{{url}}}">点击这里加入</a>

如果您不想成为 {{grantor_name}} 的紧急联系人，可以安全地忽略此邮件。
{{> email/email_footer_text }}