{{token}} - Tvůj dvoufázový kód do tvého Sejfu
<!---------------->
<html>
<p>
    Tvůj dvoufázový kód do tvého sejfu je: <b>{{token}}</b>

    Pro dokončení přihlášení tento kód zadej do Sejfu.
</p>
</html>
