Ověř svůj email
<!---------------->
<html>
<p>
Ověř, že ti tato emailová adresa patří kliknutím na odkaz níže.
<br>
<br>
<a href="{{url}}/#/verify-email/?userId={{user_id}}&token={{token}}">
Ověřit email</a>
</p>
<p>Pokud sis toto nevyžádal/a, můžeš email klidně ignorovat.</p>
</html>
