Vítej v GUG Sejfu!
<!---------------->
<html>
<p>
Díky za vytvoření účtu v <a href="{{url}}">GUG Sejfu</a>. Před přihlášením je ale potřeba tento email ověřit kliknutím na odkaz níže.
<br>
<br>
<a href="{{url}}/#/verify-email/?userId={{user_id}}&token={{token}}">
Ověřit tento email</a>
</p>
<p>Pokud si ovšem nechtěl účet do této služby vytvořit, můžeš v klidu tento email igonorovat.</p>
</html>
