Vítej!
<!---------------->
<html>
<p>
Díky za vytvoření účtu v <a href="{{url}}">{{url}}</a>. Nyní se můžeš do svého nového účtu přihlásit.
</p>
<p>Pokud si ovšem nechtěl účet do této služby vytvořit, můžeš v klidu tento email igonorovat.</p>
</html>
