<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="logoutSessionsModelLabel"><i class="fa fa-ban"></i> Deauthorize Sessions</h4>
</div>
<form name="logoutSessionsForm" ng-submit="logoutSessionsForm.$valid && submit(model)" api-form="submitPromise">
    <div class="modal-body">
        <p>Concerned your account is logged in on another device?</p>
        <p>Proceed below to deauthorize all computers or devices that you have previously used.</p>
        <p>
            This security step is recommended if you previously used a public PC or accidentally saved your password
            on a device that isn't yours. This step will also clear all previously remembered two-step login sessions.
        </p>
        <div class="callout callout-warning">
            <h4><i class="fa fa-warning"></i> Warning</h4>
            Proceeding will also log you out of your current session, requiring you to log back in. You will also be prompted
            for two-step login again, if enabled. Active sessions on other devices may continue to remain active for up to
            one hour.
        </div>
        <div class="callout callout-danger validation-errors" ng-show="logoutSessionsForm.$errors">
            <h4>Errors have occurred</h4>
            <ul>
                <li ng-repeat="e in logoutSessionsForm.$errors">{{e}}</li>
            </ul>
        </div>
        <div class="form-group" show-errors>
            <label for="masterPassword">Master Password</label>
            <input type="password" id="masterPassword" name="MasterPasswordHash" ng-model="model.masterPassword" class="form-control"
                   required api-field />
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat" ng-disabled="logoutSessionsForm.$loading">
            <i class="fa fa-refresh fa-spin loading-icon" ng-show="logoutSessionsForm.$loading"></i>Deauthorize
        </button>
        <button type="button" class="btn btn-default btn-flat" ng-click="close()">Close</button>
    </div>
</form>
