<section class="content-header">
    <h1>Create Organization</h1>
</section>
<section class="content">
    <p>
        Organizations allow you to share parts of your vault with others as well as manage related users
        for a specific entity (such as a family, small team, or large company).
    </p>
    <form name="createOrgForm" ng-submit="createOrgForm.$valid && submit(model, createOrgForm)" api-form="submitPromise">
        <div class="callout callout-danger validation-errors" ng-show="createOrgForm.$errors">
            <h4>Errors have occurred</h4>
            <ul>
                <li ng-repeat="e in createOrgForm.$errors">{{e}}</li>
            </ul>
        </div>
        <div ng-if="selfHosted">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">License</h3>
                </div>
                <div class="box-body">
                    <p>To create an on-premise hosted organization you need to upload a valid license file.</p>
                    <div class="form-group" show-error>
                        <label for="file" class="sr-only">License</label>
                        <input type="file" id="file" name="file" accept=".json" />
                        <p class="help-block">
                            Your license file will be named something like <code>bitwarden_organization_license.json</code>
                        </p>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary btn-flat" ng-disabled="createOrgForm.$loading">
                        <i class="fa fa-refresh fa-spin loading-icon" ng-show="createOrgForm.$loading"></i>Submit
                    </button>
                </div>
            </div>
        </div>
        <div ng-if="!selfHosted">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">General Information</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" show-errors>
                                <label for="name">Organization Name</label>
                                <input type="text" id="name" name="Name" ng-model="model.name" class="form-control"
                                       required api-field />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" show-errors>
                                <label for="billingEmail">Billing Email</label>
                                <input type="email" id="billingEmail" name="BillingEmail" ng-model="model.billingEmail"
                                       class="form-control" required api-field />
                            </div>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="model.ownedBusiness" ng-click="changedBusiness()">
                            This account is owned by a business.
                        </label>
                    </div>
                    <div class="row" ng-show="model.ownedBusiness">
                        <div class="col-md-6">
                            <div class="form-group" show-errors>
                                <label for="businessName">Business Name</label>
                                <input type="text" id="businessName" name="BusinessName" ng-model="model.businessName"
                                       class="form-control" api-field />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Choose Your Plan</h3>
                </div>
                <div class="box-body">
                    <div class="radio radio-block" ng-if="!model.ownedBusiness" ng-click="changedPlan()">
                        <label>
                            <input type="radio" ng-model="model.plan" name="PlanType" value="free">
                            Free
                            <span>For personal users to share with 1 other user.</span>
                            <span>- Limit 2 users (including you)</span>
                            <span>- Limit 2 collections</span>
                            <span class="bottom-line">
                                Free forever
                            </span>
                        </label>
                    </div>
                    <div class="radio radio-block" ng-if="!model.ownedBusiness" ng-click="changedPlan()">
                        <label>
                            <input type="radio" ng-model="model.plan" name="PlanType" value="families">
                            Families
                            <span>For personal use, to share with family &amp; friends.</span>
                            <span>- Add and share with up to 5 users</span>
                            <span>- Create unlimited collections</span>
                            <span>- 1 GB encrypted file storage</span>
                            <span>- Self-hosting (optional)</span>
                            <span>- Priority customer support</span>
                            <span>- 7 day free trial, cancel anytime</span>
                            <span class="bottom-line">
                                {{plans.families.basePrice | currency:'$'}} /month includes {{plans.families.baseSeats}} users
                            </span>
                        </label>
                    </div>
                    <div class="radio radio-block" ng-click="changedPlan()">
                        <label>
                            <input type="radio" ng-model="model.plan" name="PlanType" value="teams">
                            Teams
                            <span>For businesses and other team organizations.</span>
                            <span>- Add and share with unlimited users</span>
                            <span>- Create unlimited collections</span>
                            <span>- 1 GB encrypted file storage</span>
                            <span>- Priority customer support</span>
                            <span>- 7 day free trial, cancel anytime</span>
                            <span class="bottom-line">
                                {{plans.teams.basePrice | currency:'$'}} /month includes {{plans.teams.baseSeats}} users,
                                additional users {{plans.teams.seatPrice | currency:'$'}} /month
                            </span>
                        </label>
                    </div>
                    <div class="radio radio-block" ng-click="changedPlan()">
                        <label>
                            <input type="radio" ng-model="model.plan" name="PlanType" value="enterprise">
                            Enterprise
                            <span>For businesses and other large organizations.</span>
                            <span>- Add and share with unlimited users</span>
                            <span>- Create unlimited collections</span>
                            <span>- 1 GB encrypted file storage</span>
                            <span>- Control user access with groups</span>
                            <span>- Sync your users and groups from a directory (AD, Azure AD, GSuite, LDAP)</span>
                            <span>- On-premise hosting (optional)</span>
                            <span>- Priority customer support</span>
                            <span>- 7 day free trial, cancel anytime</span>
                            <span class="bottom-line">
                                {{plans.enterprise.seatPrice | currency:'$'}} per user /month
                            </span>
                        </label>
                    </div>
                </div>
                <div class="box-footer" ng-show="plans[model.plan].noPayment">
                    <button type="submit" class="btn btn-primary btn-flat" ng-disabled="createOrgForm.$loading">
                        <i class="fa fa-refresh fa-spin loading-icon" ng-show="createOrgForm.$loading"></i>Submit
                    </button>
                </div>
            </div>
            <div class="box box-default" ng-if="!plans[model.plan].noAdditionalSeats && plans[model.plan].baseSeats">
                <div class="box-header with-border">
                    <h3 class="box-title">Additional Users (Seats)</h3>
                </div>
                <div class="box-body">
                    <p>
                        Your plan comes with <b>{{plans[model.plan].baseSeats}}</b> users (seats). You can add additional users
                        <span ng-if="plans[model.plan].maxAdditionalSeats">
                            (up to {{plans[model.plan].maxAdditionalSeats}} more)
                        </span>
                        for {{plans[model.plan].seatPrice | currency:'$'}} per user /month.
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" show-errors style="margin: 0;">
                                <label for="additionalSeats" class="sr-only">Additional Users</label>
                                <input type="number" id="additionalSeats" name="AdditionalSeats" ng-model="model.additionalSeats"
                                       min="0" class="form-control" placeholder="# of users" api-field
                                       ng-attr-max="{{plans[model.plan].maxAdditionalSeats || 1000000}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-default" ng-if="!plans[model.plan].noAdditionalSeats && !plans[model.plan].baseSeats">
                <div class="box-header with-border">
                    <h3 class="box-title">Users (Seats)</h3>
                </div>
                <div class="box-body">
                    <p>
                        How many user seats do you need?
                        You can also add additional seats later if needed.
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" show-errors style="margin: 0;">
                                <label for="additionalSeats" class="sr-only">Users</label>
                                <input type="number" id="additionalSeats" name="AdditionalSeats" ng-model="model.additionalSeats"
                                       min="1" class="form-control" placeholder="# of users" api-field
                                       ng-attr-max="{{plans[model.plan].maxAdditionalSeats || 1000000}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-default" ng-if="!plans[model.plan].noPayment">
                <div class="box-header with-border">
                    <h3 class="box-title">Additional Storage</h3>
                </div>
                <div class="box-body">
                    <div class="form-group" show-errors style="margin: 0;">
                        <p>
                            Your plan comes with 1 GB of encrypted file storage. You can add additional
                            storage for {{storageGb.price | currency:"$":2}} per GB /month.
                        </p>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="additionalStorage" class="sr-only">Storage</label>
                                <input type="number" id="additionalStorage" name="AdditionalStorageGb"
                                       ng-model="model.additionalStorageGb" min="0" max="99" step="1" class="form-control"
                                       placeholder="# of additional GB" api-field />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-default" ng-if="!plans[model.plan].noPayment">
                <div class="box-header with-border">
                    <h3 class="box-title">Billing Summary</h3>
                </div>
                <div class="box-body">
                    <div class="radio radio-block">
                        <label>
                            <input type="radio" ng-model="model.interval" name="BillingInterval" value="year">
                            Annually
                            <span ng-if="plans[model.plan].annualBasePrice">
                                Base price:
                                {{plans[model.plan].basePrice | currency:"$":2}} &times;12 mo. =
                                {{plans[model.plan].annualBasePrice | currency:"$":2}} /year
                            </span>
                            <span>
                                <span ng-if="plans[model.plan].baseSeats">Additional users:</span>
                                <span ng-if="!plans[model.plan].baseSeats">Users:</span>
                                {{model.additionalSeats || 0}} &times;{{plans[model.plan].seatPrice | currency:"$":2}}
                                &times;12 mo. =
                                {{((model.additionalSeats || 0) * plans[model.plan].annualSeatPrice) | currency:"$":2}} /year
                            </span>
                            <span>
                                Additional storage:
                                {{model.additionalStorageGb || 0}} GB &times; {{storageGb.price | currency:"$":2}}
                                &times;12 mo. =
                                {{(model.additionalStorageGb || 0) * storageGb.yearlyPrice | currency:"$":2}} /year
                            </span>
                        </label>
                    </div>
                    <div class="radio radio-block" ng-if="model.plan !== 'families'">
                        <label>
                            <input type="radio" ng-model="model.interval" name="BillingInterval" value="month">
                            Monthly
                            <span ng-if="plans[model.plan].monthlyBasePrice">
                                Base price:
                                {{plans[model.plan].monthlyBasePrice | currency:"$":2}} /month
                            </span>
                            <span>
                                <span ng-if="plans[model.plan].baseSeats">Additional users:</span>
                                <span ng-if="!plans[model.plan].baseSeats">Users:</span>
                                {{model.additionalSeats || 0}}
                                &times;{{plans[model.plan].monthlySeatPrice | currency:"$":2}} =
                                {{((model.additionalSeats || 0) * plans[model.plan].monthlySeatPrice) | currency:"$":2}} /month
                            </span>
                            <span>
                                Additional storage:
                                {{model.additionalStorageGb || 0}} GB &times; {{storageGb.monthlyPrice | currency:"$":2}} =
                                {{(model.additionalStorageGb || 0) * storageGb.monthlyPrice | currency:"$":2}} /month
                            </span>
                        </label>
                    </div>
                </div>
                <div class="box-footer">
                    <h4>
                        <b>Total:</b>
                        {{totalPrice() | currency:"USD $":2}} /{{model.interval}}
                    </h4>
                    Your plan comes with a free 7 day trial. Your card will not be charged until the trial has ended.
                    You may cancel at any time.
                </div>
            </div>
            <div class="box box-default" ng-if="!plans[model.plan].noPayment">
                <div class="box-header with-border">
                    <h3 class="box-title">Payment Information</h3>
                </div>
                <div class="box-body">
                    <label class="radio-inline radio-lg radio-boxed">
                        <input type="radio" name="PaymentMethod" value="card" ng-model="paymentMethod"
                               ng-change="changePaymentMethod('card')">
                        <i class="fa fa-fw fa-credit-card"></i> Credit Card
                    </label>
                    <label class="radio-inline radio-lg radio-boxed">
                        <input type="radio" name="PaymentMethod" value="bank" ng-model="paymentMethod"
                               ng-change="changePaymentMethod('bank')">
                        <i class="fa fa-fw fa-bank"></i> Bank<span class="hidden-xs"> Account (ACH)</span>
                    </label>
                    <hr />
                    <div ng-if="paymentMethod === 'bank'">
                        <div class="callout callout-warning">
                            <h4><i class="fa fa-warning"></i> You must verify your bank account</h4>
                            <p>
                                Payment with a bank account is <u>only available to customers in the United States</u>.
                                You will be required to verify your bank account. We will make two micro-deposits within the next
                                1-2 business days. Enter these amounts in the organization's billing area to verify the bank account.
                                Failure to verify the bank account will result in a missed payment and your organization being
                                disabled.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-sm-6">
                                <div class="form-group">
                                    <label for="routing_number">Routing Number</label>
                                    <input type="text" id="routing_number" name="routing_number"
                                           ng-model="model.bank.routing_number" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-6">
                                <div class="form-group">
                                    <label for="account_number">Account Number</label>
                                    <input type="text" id="account_number" name="account_number"
                                           ng-model="model.bank.account_number" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-sm-6">
                                <div class="form-group">
                                    <label for="account_holder_name">Account Holder Name</label>
                                    <input type="text" id="account_holder_name" name="account_holder_name"
                                           ng-model="model.bank.account_holder_name" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-6">
                                <div class="form-group">
                                    <label for="account_holder_type">Account Type</label>
                                    <select id="account_holder_type" class="form-control" name="account_holder_type"
                                            ng-model="model.bank.account_holder_type" required>
                                        <option value="">-- Select --</option>
                                        <option value="company">Company (Business)</option>
                                        <option value="individual">Individual (Personal)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="paymentMethod === 'card'">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group" show-errors>
                                    <label for="card_number">Card Number</label>
                                    <input type="text" id="card_number" name="card_number" ng-model="model.card.number"
                                           class="form-control" cc-number required api-field autocomplete="cc-number" />
                                </div>
                            </div>
                            <div class="col-md-7">
                                <br class="hidden-sm hidden-xs" />
                                <ul class="list-inline" style="margin: 0;">
                                    <li><div class="cc visa"></div></li>
                                    <li><div class="cc mastercard"></div></li>
                                    <li><div class="cc amex"></div></li>
                                    <li><div class="cc discover"></div></li>
                                    <li><div class="cc diners"></div></li>
                                    <li><div class="cc jcb"></div></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group" show-errors>
                                    <label for="exp_month">Expiration Month</label>
                                    <select id="exp_month" class="form-control" ng-model="model.card.exp_month" required cc-exp-month
                                            name="exp_month" api-field autocomplete="cc-exp-month">
                                        <option value="">-- Select --</option>
                                        <option value="01">01 - January</option>
                                        <option value="02">02 - February</option>
                                        <option value="03">03 - March</option>
                                        <option value="04">04 - April</option>
                                        <option value="05">05 - May</option>
                                        <option value="06">06 - June</option>
                                        <option value="07">07 - July</option>
                                        <option value="08">08 - August</option>
                                        <option value="09">09 - September</option>
                                        <option value="10">10 - October</option>
                                        <option value="11">11 - November</option>
                                        <option value="12">12 - December</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" show-errors>
                                    <label for="exp_year">Expiration Year</label>
                                    <select id="exp_year" class="form-control" ng-model="model.card.exp_year" required cc-exp-year
                                            name="exp_year" api-field autocomplete="cc-exp-year">
                                        <option value="">-- Select --</option>
                                        <option value="17">2017</option>
                                        <option value="18">2018</option>
                                        <option value="19">2019</option>
                                        <option value="20">2020</option>
                                        <option value="21">2021</option>
                                        <option value="22">2022</option>
                                        <option value="23">2023</option>
                                        <option value="24">2024</option>
                                        <option value="25">2025</option>
                                        <option value="26">2026</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" show-errors>
                                    <label for="cvc">
                                        CVC
                                        <a href="https://www.cvvnumber.com/cvv.html" target="_blank" title="What is this?"
                                           rel="noopener noreferrer">
                                            <i class="fa fa-question-circle"></i>
                                        </a>
                                    </label>
                                    <input type="text" id="cvc" ng-model="model.card.cvc" class="form-control" name="cvc"
                                           cc-type="number.$ccType" cc-cvc required api-field autocomplete="cc-csc" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" show-errors>
                                    <label for="address_country">Country</label>
                                    <select id="address_country" class="form-control" ng-model="model.card.address_country"
                                            required name="address_country" api-field autocomplete="country">
                                        <option value="">-- Select --</option>
                                        <option value="US">United States</option>
                                        <option value="CN">China</option>
                                        <option value="FR">France</option>
                                        <option value="DE">Germany</option>
                                        <option value="CA">Canada</option>
                                        <option value="GB">United Kingdom</option>
                                        <option value="AU">Australia</option>
                                        <option value="IN">India</option>
                                        <option value="-" disabled></option>
                                        <option value="AF">Afghanistan</option>
                                        <option value="AX">Åland Islands</option>
                                        <option value="AL">Albania</option>
                                        <option value="DZ">Algeria</option>
                                        <option value="AS">American Samoa</option>
                                        <option value="AD">Andorra</option>
                                        <option value="AO">Angola</option>
                                        <option value="AI">Anguilla</option>
                                        <option value="AQ">Antarctica</option>
                                        <option value="AG">Antigua and Barbuda</option>
                                        <option value="AR">Argentina</option>
                                        <option value="AM">Armenia</option>
                                        <option value="AW">Aruba</option>
                                        <option value="AT">Austria</option>
                                        <option value="AZ">Azerbaijan</option>
                                        <option value="BS">Bahamas</option>
                                        <option value="BH">Bahrain</option>
                                        <option value="BD">Bangladesh</option>
                                        <option value="BB">Barbados</option>
                                        <option value="BY">Belarus</option>
                                        <option value="BE">Belgium</option>
                                        <option value="BZ">Belize</option>
                                        <option value="BJ">Benin</option>
                                        <option value="BM">Bermuda</option>
                                        <option value="BT">Bhutan</option>
                                        <option value="BO">Bolivia, Plurinational State of</option>
                                        <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                        <option value="BA">Bosnia and Herzegovina</option>
                                        <option value="BW">Botswana</option>
                                        <option value="BV">Bouvet Island</option>
                                        <option value="BR">Brazil</option>
                                        <option value="IO">British Indian Ocean Territory</option>
                                        <option value="BN">Brunei Darussalam</option>
                                        <option value="BG">Bulgaria</option>
                                        <option value="BF">Burkina Faso</option>
                                        <option value="BI">Burundi</option>
                                        <option value="KH">Cambodia</option>
                                        <option value="CM">Cameroon</option>
                                        <option value="CV">Cape Verde</option>
                                        <option value="KY">Cayman Islands</option>
                                        <option value="CF">Central African Republic</option>
                                        <option value="TD">Chad</option>
                                        <option value="CL">Chile</option>
                                        <option value="CX">Christmas Island</option>
                                        <option value="CC">Cocos (Keeling) Islands</option>
                                        <option value="CO">Colombia</option>
                                        <option value="KM">Comoros</option>
                                        <option value="CG">Congo</option>
                                        <option value="CD">Congo, the Democratic Republic of the</option>
                                        <option value="CK">Cook Islands</option>
                                        <option value="CR">Costa Rica</option>
                                        <option value="CI">Côte d'Ivoire</option>
                                        <option value="HR">Croatia</option>
                                        <option value="CU">Cuba</option>
                                        <option value="CW">Curaçao</option>
                                        <option value="CY">Cyprus</option>
                                        <option value="CZ">Czech Republic</option>
                                        <option value="DK">Denmark</option>
                                        <option value="DJ">Djibouti</option>
                                        <option value="DM">Dominica</option>
                                        <option value="DO">Dominican Republic</option>
                                        <option value="EC">Ecuador</option>
                                        <option value="EG">Egypt</option>
                                        <option value="SV">El Salvador</option>
                                        <option value="GQ">Equatorial Guinea</option>
                                        <option value="ER">Eritrea</option>
                                        <option value="EE">Estonia</option>
                                        <option value="ET">Ethiopia</option>
                                        <option value="FK">Falkland Islands (Malvinas)</option>
                                        <option value="FO">Faroe Islands</option>
                                        <option value="FJ">Fiji</option>
                                        <option value="FI">Finland</option>
                                        <option value="GF">French Guiana</option>
                                        <option value="PF">French Polynesia</option>
                                        <option value="TF">French Southern Territories</option>
                                        <option value="GA">Gabon</option>
                                        <option value="GM">Gambia</option>
                                        <option value="GE">Georgia</option>
                                        <option value="GH">Ghana</option>
                                        <option value="GI">Gibraltar</option>
                                        <option value="GR">Greece</option>
                                        <option value="GL">Greenland</option>
                                        <option value="GD">Grenada</option>
                                        <option value="GP">Guadeloupe</option>
                                        <option value="GU">Guam</option>
                                        <option value="GT">Guatemala</option>
                                        <option value="GG">Guernsey</option>
                                        <option value="GN">Guinea</option>
                                        <option value="GW">Guinea-Bissau</option>
                                        <option value="GY">Guyana</option>
                                        <option value="HT">Haiti</option>
                                        <option value="HM">Heard Island and McDonald Islands</option>
                                        <option value="VA">Holy See (Vatican City State)</option>
                                        <option value="HN">Honduras</option>
                                        <option value="HK">Hong Kong</option>
                                        <option value="HU">Hungary</option>
                                        <option value="IS">Iceland</option>
                                        <option value="ID">Indonesia</option>
                                        <option value="IR">Iran, Islamic Republic of</option>
                                        <option value="IQ">Iraq</option>
                                        <option value="IE">Ireland</option>
                                        <option value="IM">Isle of Man</option>
                                        <option value="IL">Israel</option>
                                        <option value="IT">Italy</option>
                                        <option value="JM">Jamaica</option>
                                        <option value="JP">Japan</option>
                                        <option value="JE">Jersey</option>
                                        <option value="JO">Jordan</option>
                                        <option value="KZ">Kazakhstan</option>
                                        <option value="KE">Kenya</option>
                                        <option value="KI">Kiribati</option>
                                        <option value="KP">Korea, Democratic People's Republic of</option>
                                        <option value="KR">Korea, Republic of</option>
                                        <option value="KW">Kuwait</option>
                                        <option value="KG">Kyrgyzstan</option>
                                        <option value="LA">Lao People's Democratic Republic</option>
                                        <option value="LV">Latvia</option>
                                        <option value="LB">Lebanon</option>
                                        <option value="LS">Lesotho</option>
                                        <option value="LR">Liberia</option>
                                        <option value="LY">Libya</option>
                                        <option value="LI">Liechtenstein</option>
                                        <option value="LT">Lithuania</option>
                                        <option value="LU">Luxembourg</option>
                                        <option value="MO">Macao</option>
                                        <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                        <option value="MG">Madagascar</option>
                                        <option value="MW">Malawi</option>
                                        <option value="MY">Malaysia</option>
                                        <option value="MV">Maldives</option>
                                        <option value="ML">Mali</option>
                                        <option value="MT">Malta</option>
                                        <option value="MH">Marshall Islands</option>
                                        <option value="MQ">Martinique</option>
                                        <option value="MR">Mauritania</option>
                                        <option value="MU">Mauritius</option>
                                        <option value="YT">Mayotte</option>
                                        <option value="MX">Mexico</option>
                                        <option value="FM">Micronesia, Federated States of</option>
                                        <option value="MD">Moldova, Republic of</option>
                                        <option value="MC">Monaco</option>
                                        <option value="MN">Mongolia</option>
                                        <option value="ME">Montenegro</option>
                                        <option value="MS">Montserrat</option>
                                        <option value="MA">Morocco</option>
                                        <option value="MZ">Mozambique</option>
                                        <option value="MM">Myanmar</option>
                                        <option value="NA">Namibia</option>
                                        <option value="NR">Nauru</option>
                                        <option value="NP">Nepal</option>
                                        <option value="NL">Netherlands</option>
                                        <option value="NC">New Caledonia</option>
                                        <option value="NZ">New Zealand</option>
                                        <option value="NI">Nicaragua</option>
                                        <option value="NE">Niger</option>
                                        <option value="NG">Nigeria</option>
                                        <option value="NU">Niue</option>
                                        <option value="NF">Norfolk Island</option>
                                        <option value="MP">Northern Mariana Islands</option>
                                        <option value="NO">Norway</option>
                                        <option value="OM">Oman</option>
                                        <option value="PK">Pakistan</option>
                                        <option value="PW">Palau</option>
                                        <option value="PS">Palestinian Territory, Occupied</option>
                                        <option value="PA">Panama</option>
                                        <option value="PG">Papua New Guinea</option>
                                        <option value="PY">Paraguay</option>
                                        <option value="PE">Peru</option>
                                        <option value="PH">Philippines</option>
                                        <option value="PN">Pitcairn</option>
                                        <option value="PL">Poland</option>
                                        <option value="PT">Portugal</option>
                                        <option value="PR">Puerto Rico</option>
                                        <option value="QA">Qatar</option>
                                        <option value="RE">Réunion</option>
                                        <option value="RO">Romania</option>
                                        <option value="RU">Russian Federation</option>
                                        <option value="RW">Rwanda</option>
                                        <option value="BL">Saint Barthélemy</option>
                                        <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                        <option value="KN">Saint Kitts and Nevis</option>
                                        <option value="LC">Saint Lucia</option>
                                        <option value="MF">Saint Martin (French part)</option>
                                        <option value="PM">Saint Pierre and Miquelon</option>
                                        <option value="VC">Saint Vincent and the Grenadines</option>
                                        <option value="WS">Samoa</option>
                                        <option value="SM">San Marino</option>
                                        <option value="ST">Sao Tome and Principe</option>
                                        <option value="SA">Saudi Arabia</option>
                                        <option value="SN">Senegal</option>
                                        <option value="RS">Serbia</option>
                                        <option value="SC">Seychelles</option>
                                        <option value="SL">Sierra Leone</option>
                                        <option value="SG">Singapore</option>
                                        <option value="SX">Sint Maarten (Dutch part)</option>
                                        <option value="SK">Slovakia</option>
                                        <option value="SI">Slovenia</option>
                                        <option value="SB">Solomon Islands</option>
                                        <option value="SO">Somalia</option>
                                        <option value="ZA">South Africa</option>
                                        <option value="GS">South Georgia and the South Sandwich Islands</option>
                                        <option value="SS">South Sudan</option>
                                        <option value="ES">Spain</option>
                                        <option value="LK">Sri Lanka</option>
                                        <option value="SD">Sudan</option>
                                        <option value="SR">Suriname</option>
                                        <option value="SJ">Svalbard and Jan Mayen</option>
                                        <option value="SZ">Swaziland</option>
                                        <option value="SE">Sweden</option>
                                        <option value="CH">Switzerland</option>
                                        <option value="SY">Syrian Arab Republic</option>
                                        <option value="TW">Taiwan, Province of China</option>
                                        <option value="TJ">Tajikistan</option>
                                        <option value="TZ">Tanzania, United Republic of</option>
                                        <option value="TH">Thailand</option>
                                        <option value="TL">Timor-Leste</option>
                                        <option value="TG">Togo</option>
                                        <option value="TK">Tokelau</option>
                                        <option value="TO">Tonga</option>
                                        <option value="TT">Trinidad and Tobago</option>
                                        <option value="TN">Tunisia</option>
                                        <option value="TR">Turkey</option>
                                        <option value="TM">Turkmenistan</option>
                                        <option value="TC">Turks and Caicos Islands</option>
                                        <option value="TV">Tuvalu</option>
                                        <option value="UG">Uganda</option>
                                        <option value="UA">Ukraine</option>
                                        <option value="AE">United Arab Emirates</option>
                                        <option value="UM">United States Minor Outlying Islands</option>
                                        <option value="UY">Uruguay</option>
                                        <option value="UZ">Uzbekistan</option>
                                        <option value="VU">Vanuatu</option>
                                        <option value="VE">Venezuela, Bolivarian Republic of</option>
                                        <option value="VN">Viet Nam</option>
                                        <option value="VG">Virgin Islands, British</option>
                                        <option value="VI">Virgin Islands, U.S.</option>
                                        <option value="WF">Wallis and Futuna</option>
                                        <option value="EH">Western Sahara</option>
                                        <option value="YE">Yemen</option>
                                        <option value="ZM">Zambia</option>
                                        <option value="ZW">Zimbabwe</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" show-errors>
                                    <label for="address_zip"
                                           ng-bind="model.card.address_country === 'US' ? 'Zip Code' : 'Postal Code'"></label>
                                    <input type="text" id="address_zip" ng-model="model.card.address_zip"
                                           class="form-control" required name="address_zip" api-field autocomplete="postal-code" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary btn-flat" ng-disabled="createOrgForm.$loading">
                        <i class="fa fa-refresh fa-spin loading-icon" ng-show="createOrgForm.$loading"></i>Submit
                    </button>
                </div>
            </div>
        </div>
    </form>
</section>
