<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><i class="fa fa-key"></i> Update Encryption Key</h4>
</div>
<form name="form" ng-submit="form.$valid && save(form)" api-form="savePromise">
    <div class="modal-body">
        <p>
            This is <b>NOT</b> a security notification indicating that anything is wrong or has been compromised on your
            account. If interested, you can
            <a href="https://help.bitwarden.com/article/update-encryption-key/" target="_blank">read more details here</a>.
        </p>
        <hr />
        <p>
            You are currently using an outdated encryption scheme. We've moved to larger encryption keys
            that provide better security and access to newer features.
        </p>
        <p>
            Updating your encryption key is quick and easy. Just type your master password below and you're done!
            This update will eventually become mandatory.
        </p>
        <hr />
        <div class="callout callout-warning">
            <h4><i class="fa fa-warning"></i> Warning</h4>
            After updating your encryption key, you are required to log out and back in to all Bitwarden applications that you
            are currently using (such as the mobile app or browser extensions). Failure to log out and back
            in (which downloads your new encryption key) may result in data corruption. We will attempt to log you out
            automatically, however it may be delayed.
        </div>
        <div class="callout callout-danger validation-errors" ng-show="form.$errors">
            <h4>Errors have occurred</h4>
            <ul>
                <li ng-repeat="e in form.$errors">{{e}}</li>
            </ul>
        </div>
        <div class="form-group" show-errors>
            <label for="masterPassword">Master Password</label>
            <input type="password" id="masterPassword" name="MasterPasswordHash" ng-model="masterPassword" class="form-control"
                   required api-field />
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat" ng-disabled="form.$loading">
            <i class="fa fa-refresh fa-spin loading-icon" ng-show="form.$loading"></i>Update Key
        </button>
        <button type="button" class="btn btn-default btn-flat" ng-click="close()">Close</button>
    </div>
</form>
