<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><i class="fa fa-globe"></i> {{index ? 'Edit Equivalent Domain' : 'Add Equivalent Domain'}}</h4>
</div>
<form name="domainAddEditForm" ng-submit="domainAddEditForm.$valid && submit(domainAddEditForm)" autocomplete="off">
    <div class="modal-body">
        <div class="callout callout-danger validation-errors" ng-show="domainAddEditForm.$errors">
            <h4>Errors have occurred</h4>
            <ul>
                <li ng-repeat="e in domainAddEditForm.$errors">{{e}}</li>
            </ul>
        </div>
        <p>
            Enter a list of domains separated by commas.
        </p>
        <div class="form-group" show-errors>
            <label for="name">Domains</label> <span>*</span>
            <textarea id="domains" name="Domains" ng-model="domains" class="form-control" placeholder="ex. google.com, gmail.com"
                      style="height: 100px;" required></textarea>
            <p class="help-block">
                Only "base" domains are allowed. Do not enter subdomains. For example, enter "google.com" instead of
                "www.google.com".
            </p>
            <p class="help-block">
                You can also enter "androidapp://package.name" to associate an android app with other website domains.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat">
            Submit
        </button>
        <button type="button" class="btn btn-default btn-flat" ng-click="close()">Close</button>
    </div>
</form>