<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        <i class="fa fa-drivers-license"></i>
        Update License
    </h4>
</div>
<form name="form" ng-submit="form.$valid && submit(form)" api-form="submitPromise" autocomplete="off">
    <div class="modal-body">
        <div class="callout callout-danger validation-errors" ng-show="form.$errors">
            <h4>Errors have occurred</h4>
            <ul>
                <li ng-repeat="e in form.$errors">{{e}}</li>
            </ul>
        </div>
        <div class="form-group" show-error>
            <label for="file" class="sr-only">License</label>
            <input type="file" id="file" name="file" accept=".json" />
            <p class="help-block">
                Select your <code>.json</code> license file.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat" ng-disabled="form.$loading">
            <i class="fa fa-refresh fa-spin loading-icon" ng-show="form.$loading"></i>Submit
        </button>
        <button type="button" class="btn btn-default btn-flat" ng-click="close()">Close</button>
    </div>
</form>
