<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="changePasswrdModelLabel"><i class="fa fa-key"></i> Change Password</h4>
</div>
<form name="changePasswordForm" ng-submit="changePasswordForm.$valid && save(model, changePasswordForm)" api-form="savePromise">
    <div class="modal-body">
        <p>Below you can change your account's master password.</p>
        <p>We recommend that you change your master password immediately if you believe that your credentials have been compromised.</p>
        <div class="callout callout-warning">
            <h4><i class="fa fa-warning"></i> Warning</h4>
            Proceeding will log you out of your current session, requiring you to log back in. Active sessions on other devices
            may continue to remain active for up to one hour.
        </div>
        <div class="callout callout-danger validation-errors" ng-show="changePasswordForm.$errors">
            <h4>Errors have occurred</h4>
            <ul>
                <li ng-repeat="e in changePasswordForm.$errors">{{e}}</li>
            </ul>
        </div>
        <div class="form-group" show-errors>
            <label for="masterPassword">Current Master Password</label>
            <input type="password" id="masterPassword" name="MasterPasswordHash" ng-model="model.masterPassword" class="form-control"
                   required api-field />
        </div>
        <hr />
        <div class="form-group" show-errors>
            <label for="newMasterPassword">New Master Password</label>
            <input type="password" id="newMasterPassword" name="NewMasterPasswordHash" ng-model="model.newMasterPassword" class="form-control"
                   required api-field />
        </div>
        <div class="form-group" show-errors>
            <label for="confirmNewMasterPassword">Confirm New Master Password</label>
            <input type="password" id="confirmNewMasterPassword" name="ConfirmNewMasterPasswordHash" ng-model="model.confirmNewMasterPassword"
                   class="form-control" required api-field />
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat" ng-disabled="changePasswordForm.$loading">
            <i class="fa fa-refresh fa-spin loading-icon" ng-show="changePasswordForm.$loading"></i>Change Password
        </button>
        <button type="button" class="btn btn-default btn-flat" ng-click="close()">Close</button>
    </div>
</form>
