<section class="content-header">
    <h1>
        Apps
        <small>for all of your devices</small>
    </h1>
</section>
<section class="content">
    <div class="box box-default box-apps">
        <div class="box-header with-border">
            <h3 class="box-title">Desktop/Browser</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="fa-ul">
                        <li>
                            <a href="https://chrome.google.com/webstore/detail/bitwarden-free-password-m/nngceckbapebfimnlniiiahkandclblb" target="_blank">
                                <i class="fa fa-chrome fa-lg fa-fw fa-li"></i> Google Chrome
                            </a>
                        </li>
                        <li>
                            <a href="https://addons.mozilla.org/firefox/addon/bitwarden-password-manager/" target="_blank">
                                <i class="fa fa-firefox fa-lg fa-fw fa-li"></i> Mozilla Firefox
                            </a>
                        </li>
                        <li>
                            <a href="https://addons.opera.com/extensions/details/bitwarden-free-password-manager/" target="_blank">
                                <i class="fa fa-opera fa-lg fa-fw fa-li"></i> Opera
                            </a>
                        </li>
                        <li>
                            <a href="https://www.microsoft.com/store/p/bitwarden-free-password-manager/9p6kxl0svnnl" target="_blank">
                                <i class="fa fa-edge fa-lg fa-fw fa-li"></i> Microsoft Edge
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    Others:
                    <ul>
                        <li>
                            <a href="https://chrome.google.com/webstore/detail/bitwarden-free-password-m/nngceckbapebfimnlniiiahkandclblb" target="_blank">
                                Vivaldi
                            </a>
                        </li>
                        <li>
                            <a href="https://brave.com/" target="_blank">
                                Brave
                            </a>
                        </li>
                        <li>
                            <a href="https://addons.mozilla.org/firefox/addon/bitwarden-password-manager/" target="_blank">
                                Tor Browser
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-default box-apps">
        <div class="box-header with-border">
            <h3 class="box-title">Mobile</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="fa-ul">
                        <li>
                            <a href="https://itunes.apple.com/app/bitwarden-free-password-manager/id1137397744?mt=8" target="_blank">
                                <i class="fa fa-apple fa-lg fa-fw fa-li"></i> iOS
                            </a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.x8bit.bitwarden" target="_blank">
                                <i class="fa fa-android fa-lg fa-fw fa-li"></i> Android
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="fa-ul">
                        <li>
                            <a href="#" stop-click>
                                <i class="fa fa-windows fa-lg fa-fw fa-li"></i> Windows
                                <small class="text-muted">(coming soon)</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-default box-apps">
        <div class="box-header with-border">
            <h3 class="box-title">Other</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="fa-ul">
                        <li>
                            <a href="#" stop-click>
                                <i class="fa fa-windows fa-lg fa-fw fa-li"></i> Desktop Windows
                                <small class="text-muted">(coming soon)</small>
                            </a>
                        </li>
                        <li>
                            <a href="#" stop-click>
                                <i class="fa fa-apple fa-lg fa-fw fa-li"></i> Desktop macOS
                                <small class="text-muted">(coming soon)</small>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="fa-ul">
                        <li>
                            <a href="#" stop-click>
                                <i class="fa fa-linux fa-lg fa-fw fa-li"></i> Desktop Linux
                                <small class="text-muted">(coming soon)</small>
                            </a>
                        </li>
                        <li>
                            <a href="#" stop-click>
                                <i class="fa fa-terminal fa-lg fa-fw fa-li"></i> CLI
                                <small class="text-muted">(coming soon)</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
