<div class="register-box">
    <div class="register-logo">
        <i class="fa fa-shield"></i> <b>bit</b>warden
    </div>
    <div class="register-box-body">
        <p class="login-box-msg">Create a new account.</p>
        <div class="text-center" ng-show="success">
            <div class="callout callout-success">
                <h4>Account Created!</h4>
                <p>You may now log in to your new account.</p>
            </div>
            <a ui-sref="frontend.login.info({returnState: returnState, email: model.email})">Ready to log in?</a>
        </div>
        <form name="registerForm" ng-submit="registerForm.$valid && register(registerForm)" ng-show="!success"
              api-form="registerPromise">
            <div class="callout callout-default" ng-show="createOrg">
                <h4>Create Organization, Step 1</h4>
                <p>Before creating your organization, you first need to create a free personal account.</p>
            </div>
            <div class="callout callout-danger validation-errors" ng-show="registerForm.$errors">
                <h4>Errors have occurred</h4>
                <ul>
                    <li ng-repeat="e in registerForm.$errors">{{e}}</li>
                </ul>
            </div>
            <div class="form-group has-feedback" show-errors>
                <label for="email" class="sr-only">Email</label>
                <input type="email" id="email" name="Email" class="form-control" placeholder="Email" ng-model="model.email"
                       ng-readonly="readOnlyEmail" required api-field />
                <span class="fa fa-envelope form-control-feedback"></span>
                <p class="help-block">You'll use your email address to log in.</p>
            </div>
            <div class="form-group has-feedback" show-errors>
                <label for="name" class="sr-only">Your Name</label>
                <input type="text" id="name" name="Name" class="form-control" ng-model="model.name"
                       placeholder="Your Name" api-field>
                <span class="fa fa-user form-control-feedback"></span>
                <p class="help-block">What should we call you?</p>
            </div>
            <div class="form-group has-feedback" show-errors>
                <label for="masterPassword" class="sr-only">Master Password</label>
                <input type="password" id="masterPassword" name="MasterPasswordHash" class="form-control"
                       ng-model="model.masterPassword" placeholder="Master Password" required api-field>
                <span class="fa fa-lock form-control-feedback"></span>
                <p class="help-block">The master password is the password you use to access your vault.</p>
            </div>
            <div class="form-group has-feedback" show-errors>
                <label form="confirmMasterPassword" class="sr-only">Re-type Master Password</label>
                <input type="password" id="confirmMasterPassword" name="ConfirmMasterPassword" class="form-control"
                       placeholder="Re-type Master Password"
                       ng-model="model.confirmMasterPassword" required api-field>
                <span class="fa fa-lock form-control-feedback"></span>
                <p class="help-block">
                    It is very important that you do not forget your master password.
                    There is <u>no way</u> to recover the password in the event that you forget it.
                </p>
            </div>
            <div class="form-group has-feedback" show-errors>
                <label for="hint" class="sr-only">Master Password Hint (optional)</label>
                <input type="text" id="hint" name="MasterPasswordHint" class="form-control" ng-model="model.masterPasswordHint"
                       placeholder="Master Password Hint (optional)" api-field>
                <span class="fa fa-lightbulb-o form-control-feedback"></span>
                <p class="help-block">A master password hint can help you remember your password if you forget it.</p>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <a ui-sref="frontend.login.info({returnState: returnState})">Already have an account?</a>
                </div>
                <div class="col-xs-5">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" ng-disabled="registerForm.$loading">
                        <i class="fa fa-refresh fa-spin loading-icon" ng-show="registerForm.$loading"></i>Submit
                    </button>
                </div>
            </div>
            <hr />
            By clicking the above "Submit" button, you are agreeing to the
            <a href="https://bitwarden.com/terms/" target="_blank">Terms of Service</a>
            and the
            <a href="https://bitwarden.com/privacy/" target="_blank">Privacy Policy</a>.
        </form>
    </div>
</div>