<div class="login-box">
    <div class="login-logo">
        <i class="fa fa-shield"></i> <b>bit</b>warden
    </div>
    <div class="login-box-body">
        <div ng-show="loading">
            Loading...
        </div>
        <div ng-show="accepting">
            Accepting invitation...
        </div>
        <div ng-show="!loading && !accepting">
            <p class="login-box-msg">Join {{state.params.organizationName}}</p>
            <p class="text-center"><strong>{{state.params.email}}</strong></p>
            <p>
                You've been invited to join the organization listed above.
                To accept the invitation, you need to log in or create a new Bitwarden account.
            </p>
            <hr />
            <div class="row">
                <div class="col-sm-6">
                    <a ui-sref="frontend.login.info({returnState: state, email: state.params.email})"
                       class="btn btn-primary btn-block btn-flat">Log In</a>
                </div>
                <div class="col-sm-6">
                    <a ui-sref="frontend.register({returnState: state, email: state.params.email})"
                       class="btn btn-primary btn-block btn-flat">Create Account</a>
                </div>
            </div>
        </div>
    </div>
</div>
