<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><i class="fa fa-key"></i> Two-step Providers</h4>
</div>
<div class="modal-body">
    <div class="list-group" ng-repeat="provider in providers | orderBy: 'displayOrder'">
        <a href="#" stop-click class="list-group-item" ng-click="choose(provider)">
            <img alt="{{::provider.name}}" ng-src="{{'images/two-factor/' + provider.image}}" class="pull-right hidden-xs" />
            <h4 class="list-group-item-heading">{{::provider.name}}</h4>
            <p class="list-group-item-text">{{::provider.description}}</p>
        </a>
    </div>
    <div class="list-group" style="margin-bottom: 0;">
        <a href="https://help.bitwarden.com/article/lost-two-step-device/" target="_blank" class="list-group-item">
            <h4 class="list-group-item-heading">Recovery Code</h4>
            <p class="list-group-item-text">
                Lost access to all of your two-factor providers? Use your recovery code to disable
                all two-factor providers from your account.
            </p>
        </a>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-flat" ng-click="close()">Close</button>
</div>
