<div class="login-box">
    <div class="login-logo">
        <i class="fa fa-shield"></i> <b>bit</b>warden
    </div>
    <div class="login-box-body">
        <div ng-if="deleting">
            Deleting account...
        </div>
        <div ng-if="!deleting">
            <div class="callout callout-warning">
                <h4><i class="fa fa-warning fa-fw"></i> Warning</h4>
                This will permanently delete your account. This cannot be undone.
            </div>
            <p>
                You have requested to delete your Bitwarden account (<b>{{email}}</b>).
                Click the button below to confirm and proceed.
            </p>
            <button ng-click="delete()" class="btn btn-danger btn-block btn-flat">Delete Account</button>
        </div>
    </div>
</div>
