<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        <i class="fa fa-share"></i> Move Items
    </h4>
</div>
<form name="form" ng-submit="form.$valid && save()" api-form="savePromise" autocomplete="off">
    <div class="modal-body">
        <div class="callout callout-danger validation-errors" ng-show="form.$errors">
            <h4>Errors have occurred</h4>
            <ul>
                <li ng-repeat="e in form.$errors">{{e}}</li>
            </ul>
        </div>
        <p>
            Select a folder that you would like to move the <b>{{count}}</b> selected
            <span ng-pluralize count="count" when="{'1': 'item', 'other': 'items'}"></span> to.
        </p>
        <div class="form-group" show-errors>
            <label for="folder">Folder</label>
            <select id="folder" name="FolderId" ng-model="folderId" class="form-control" api-field>
                <option ng-repeat="folder in folders | orderBy: folderSort" value="{{folder.id}}">
                    {{folder.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat" ng-disabled="form.$loading">
            <i class="fa fa-refresh fa-spin loading-icon" ng-show="form.$loading"></i>Save
        </button>
        <button type="button" class="btn btn-default btn-flat" ng-click="close()">Close</button>
    </div>
</form>
