<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="addFolderModelLabel"><i class="fa fa-folder"></i> Add New Folder</h4>
</div>
<form name="addFolderForm" ng-submit="addFolderForm.$valid && save(folder)" api-form="savePromise" autocomplete="off">
    <div class="modal-body">
        <div class="callout callout-danger validation-errors" ng-show="addFolderForm.$errors">
            <h4>Errors have occurred</h4>
            <ul>
                <li ng-repeat="e in addFolderForm.$errors">{{e}}</li>
            </ul>
        </div>
        <div class="form-group" show-errors>
            <label for="name">Name</label> <span>*</span>
            <input type="text" id="name" name="Name" ng-model="folder.name" class="form-control" required api-field />
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat" ng-disabled="addFolderForm.$loading">
            <i class="fa fa-refresh fa-spin loading-icon" ng-show="addFolderForm.$loading"></i>Submit
        </button>
        <button type="button" class="btn btn-default btn-flat" ng-click="close()">Close</button>
    </div>
</form>